html, body, #page{ height:100%; }

#navigation_bar a
{
  	text-decoration: none;
  	margin-right: 0.5em;
  	margin-left: 0.5em;
}

a:link
{
	color: #526CC3;
}

a:visited
{
	color: #526CC3;
}

a:hover
{
	color: #5D7AD8;
}

a:active
{
	color: #89B9FF;
}

body 
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: #111;
	color: #E6FFFF;
}

img { display: block; }

h1, h2, p
{
	font-family: "Tahoma", Geneva, serif;

	margin: 0px;
}

#banner
{
	position: absolute;
  	text-shadow: 0.25vw 0.25vw #000;
}

#banner h1, #navigation_bar h1
{
	position: relative;

	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;

	font-weight: normal;
	font-size: 4vw;
}

#banner h2
{
	position: relative;
	color: #5D7AD8;
	padding: 0.3em;
	padding-left: 25vw;
	padding-top: 0px;
	font-size: 1.5vw;

	text-align: center;
}

#banner, #navigation_bar
{
	z-index: 10;
	min-width: 100%;
	position: absolute;
	padding-top: 1vh;
	padding-bottom: 1vh;

	background-color: #1A1A20;
	box-shadow: 0px 5px 20px 0px #000000;
}

#banner_highlight, #navigation_bar_highlight
{
	position: relative;
	box-shadow: 0px 5px 20px 0px #000000;

	background-color: #1A1A20;
}

#display
{
	max-height: 100vh;
	display: block;
}

#display img
{
	position: relative;
}

#navigation_bar
{
	position: relative;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

#navigation_bar h1
{
	font-family: "Impact", Charcoal, sans-serif;
	font-weight: normal;
	padding-top: 1vh;
	font-size: 3vw;
}

#content
{
	z-index: 0;
	position: relative;

	min-height: 200px;

	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0px -5px 20px 0px #000000;
	background-color: #111;
	text-align: center;
}

#paragraph
{
	box-shadow: 0px 5px 20px 0px #000000;
	background-color: #1A1A20;
	max-width: 2000px;
	width: 70vw;
	min-height: 50vh;
	min-width: 500px;

	padding-top: 2vh;
	padding-bottom: 20em;

	left: 50%;
	text-align: center;
	display: inline-block;

}

#paragraph h1
{
	font-family: "Trebuchet MS", Helvetica, serif;

	position: relative;

	padding: 0.5em;
	text-align: center;

	font-size: 32px;
}

#paragraph p
{
	font-family: "Arial", Helvetica, serif;

	position: relative;

	padding-left: 5%;
	padding-right: 5%;
	text-align: left;

	font-size: 20px;
}

#paragraph img
{
  	border-radius: 25px;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
	box-shadow: 0px 0px 20px 5px #000000;
}

#paragraph hr
{
	background-color: #526CC3; 
	height: 2px; 
	border: 0;
	width: 55vw;
	min-width: 400px;
}

#section 
{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 70%;
	background-color: #111;
	min-width: 400px;
  	border-radius: 25px;
	padding-bottom: 3em;
}

#bottom 
{
	z-index: 0;
	box-shadow: 0px 0px 20px 5px #000000;
	padding: 10px;
	left: 50%;
	text-align: center;
 	display: absolute;
 	margin-left: auto;
 	margin-right: auto;
	background-color: #050505;
	min-width: 400px;
	bottom: 0;
}

#bottom ul
{
	padding: 10px;
	margin: 0px;
	overflow: hidden;
	font-family: "Arial", Helvetica, serif;
	font-weight: normal;
	padding-top: 1vh;
	font-size: 20px;
}

#bottom li {
	display: inline;
	padding-left: 1vw;
	padding-right: 1vw;
}