#content_container_root
{
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    padding: 0;

    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

#content_container_center
{
    position: relative;
    top: 0;

    margin-left: calc(10vw);
    margin-right: calc(10vw);

    width: 80vw;
    height: fit-content;
}

#content_container
{
    position: relative;
    width: 100%;

    margin-top: 180px;
    margin-bottom: 40px;

    top: 0;
    min-height: 100px;

    background-color: #000000BB;
    box-shadow: 0 0 5px;
    padding: 0;

    overflow: hidden;

    border-radius: 20px;
    border: 10px black;
    color: #282828;
}

#content
{
    margin: 20px 40px 20px 40px;
}

.content_fade_overlay
{
    position: absolute;
    pointer-events: none;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    clip-path: inset(0 0 0 0);
}

#content_container #page_content p
{
    color: whitesmoke;
    font-family: 'Monaco', sans-serif;
}

#content_container #page_title h1
{
    text-align: center;

    background-color: #00000088;
    font-size: 42px;
    margin: 0;
    padding: 20px 0 20px 0;
    box-shadow: 0px 5px 10px black;
    text-shadow: 4px 4px black;

    font-family: 'Agency FB', sans-serif;
    color: whitesmoke;
}