#navigation_banner_container
{
    position: fixed;
    width: 100%;

    margin-top: calc(var(--navigation_panel_top_margin) - 2px);
    top: 100px;

    overflow: hidden;

    z-index: 10;
}

#navigation_banner
{
    height: 52px;
    width: max(100%, 2000px);
}

.navigation_banner_content_background
{
    display: block;

    width: fit-content;
    height: fit-content;

    padding: 8px 8px 8px 0px;

    background-color: #101013;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

.navigation_banner_edge
{
    z-index: -1;
    display: inline-block;
    position: relative;

    float: right;

    margin-top: -60px;
    margin-right: -28px;

    border-top: 69px solid #101013;
    border-right: 20px solid transparent;
}

#navigation_banner ul
{
    margin: 0px;
    padding: 0px;

    width: fit-content;
    height: 52px;

    overflow: no-display;

    list-style-type: none;

    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

#navigation_banner li
{
    float: left;
}

#navigation_banner li:last-child
{
    position: relative;
    border-top: 52px solid #1A1A20;
    border-right: 15px solid transparent;

    margin-right: -15px;
}

.navigation_banner_content
{
    padding: 5px 0px;
    margin-left: 8px;
    background-color: #1A1A20;
    height: 42px;

    text-decoration: none;
}

#navigation_banner a:hover, #navigation_banner a:visited, #navigation_banner a:link, #navigation_banner a:active
{
    text-decoration: none;
}

.navigation_banner_content h1
{
    display: inline;
    font-family: 'Agency FB', sans-serif;
    font-size: 36px;

    white-space: nowrap;

    margin: 10px;
    color: white;
}

.navigation_banner_content:hover
{
    background-color: forestgreen;

    box-shadow: 0px 0px 5px #1A1A20 inset;
}