:root
{
    --navigation_banner_font_size: 36px;
    --navigation_banner_height: 44px;
    --navigation_banner_last_element_width: 0px;
}

#navigation_banner_container
{
    position: fixed;
    width: 100%;

    top: 100px;

    overflow: hidden;

    z-index: 10;
}

#navigation_banner
{
    width: max(100%, 2000px);
}

.navigation_banner_content_background
{
    display: block;

    width: fit-content;
    height: fit-content;

    padding: 8px 8px 8px 0px;

    background-color: #101013;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

.navigation_banner_edge
{
    z-index: -1;
    display: inline-block;
    position: relative;

    float: right;

    margin-top: calc(-8px - var(--navigation_banner_height));
    margin-right: -28px;

    border-top: calc(var(--navigation_banner_height) + 16px) solid #101013;
    border-left: 20px solid #101013;
    border-right: 20px solid transparent;
}

#navigation_banner ul
{
    margin: 0px;
    padding: 0px;

    width: fit-content;
    height: var(--navigation_banner_height);

    overflow: no-display;

    list-style-type: none;

    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

#navigation_banner li
{
    float: left;
}


li .navigation_banner_content
{
    padding: 5px 10px;
    margin-left: 8px;
    background-color: #1A1A20;
    height: calc(var(--navigation_banner_height) - 10px);

    text-decoration: none;
}

#navigation_banner a:hover, #navigation_banner a:visited, #navigation_banner a:link, #navigation_banner a:active
{
    text-decoration: none;
}

.navigation_banner_content h1
{
    display: inline;
    font-family: 'Agency FB', sans-serif;
    font-size: var(--navigation_banner_font_size);

    white-space: nowrap;
    padding: 0px 20px;
    color: white;

    text-shadow: 2px 2px black;
}



li .navigation_banner_content:hover
{
    background-color: forestgreen;
    box-shadow: 0px 0px 5px #1A1A20 inset;
}






li:last-child .navigation_banner_content
{
    padding: 5px 0px;
    margin-left: 8px;
    background-color: transparent;
    height: calc(var(--navigation_banner_height) - 10px);
    clip-path: polygon(0% 0%, 115% 0%, 100% 100%, 0% 100%);

    text-decoration: none;
}

#navigation_banner li:last-child .navigation_banner_content:after
{
    position: relative;
    display: block;
    z-index: -1;

    color: #1A1A20;

    top: calc(5px - var(--navigation_banner_height));
    right: 0;
    height: 20px;
    width: calc(100%);
    border-right: 15px solid transparent;
    border-top: calc(var(--navigation_banner_height) + 3px) solid #1A1A20;
    content: '';
}



#navigation_banner li:last-child .navigation_banner_content:hover:before
{
    position: relative;
    display: block;
    z-index: -1;

    color: forestgreen;

    left: 0px;
    width: calc(100%);
    height: 20px;
    top: calc(5px - var(--navigation_banner_height));

    border-top: calc(var(--navigation_banner_height)) solid black;
    border-right: 15px solid transparent;

    box-shadow: 0px 0px 5px #1A1A20 inset;
    background-clip: border-box;
}

#navigation_banner li:last-child .navigation_banner_content:hover
{
    background: transparent;
    clip-path: polygon(0% 0%, 115% 0%, 100% 100%, 0% 100%);
}

#navigation_banner li:last-child .navigation_banner_content:hover:after
{
    position: relative;
    display: block;
    z-index: -1;

    color: forestgreen;

    left: 0px;
    width: calc(100%);
    height: 20px;
    top: calc(5px - var(--navigation_banner_height));

    filter: blur(3px);
    clip-path: polygon(0% 0%, 115% 0%, 100% 100%, 0% 100%);

    border-top: calc(var(--navigation_banner_height)) solid forestgreen;
    border-right: 15px solid transparent;
}
