@import url('http://fonts.cdnfonts.com/css/agency-fb');

#title_banner
{
    position: absolute;

    top: 0px;

    min-width: 100%;
    padding: 8px 0px;

    background-color: #101013;
    box-shadow: 0px 5px 20px 0px #000000;

    z-index: 20;
}

.title_banner_foreground
{
    position: relative;
    min-width: 100%;

    padding: 10px 0px;

    background-color: #1A1A20;
    box-shadow: 0px 5px 20px 0px #000000;
}

.title_banner_foreground h1
{
    text-align: center;
    margin: 0;

    white-space: nowrap;

    font-family: 'Agency FB', sans-serif;

    font-size: min(50px, max(5vw, 20px));

    color: white;

    text-shadow: 0.25vw 0.25vw #000;
}