body { background-color: black }

#page_background
{
    position: fixed;
    height: 100%;
    width: 100%;

    position: center;
    z-index: -10;
}

#background_image
{
    position: relative;
    display: block;
    background-position: center;
}