.content_panel
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    top: 0px;

    width: 80vw;
    min-height: 100vh;
}

.content_panel_background
{
    position: relative;
    top: 180px;
    margin: auto;

    width: 95%;
    min-height: 800px;

    background-color: #000000BB;
    box-shadow: 0 0 5px;

    border-radius: 20px;
    border: 10px black;
}

.content_panel_background ul
{
    padding: 0;
    list-style: none;
}

.content li
{
    padding-bottom: 20px;
}

.content li:last-child
{
    padding-bottom: 160px;
}

.content h1
{
    padding: 20px 20px 0px 20px;
    font-family: 'Agency FB', sans-serif;
    color: var(--base_font_colour);
}

.content_paragraph
{
    display: inline-block;
}

.content_paragraph img
{
    float: left;

    width: 30%;

    padding: 0;
    margin: 0px 20px 0px 20px;
}

.content_paragraph p
{
    text-align: justify;
    margin: 0px 40px 0px 40px;

    font-size: 20px;

    color: var(--base_font_colour);
}