.read_more_button a:hover, .read_more_button a:visited, .read_more_button a:link, .read_more_button a:active
{
    text-decoration: none;
}

.read_more_button
{
    display: block;
    margin: 20px 0px 20px 35px;

    width: min(150px, max(12vw, 90px));
    height: min(50px, max(4vw, 30px));


    background-color: #00000088;

    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.read_more_button h1
{
    padding: 0px;

    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -100%);

    font-family: 'Agency FB', sans-serif;
    color: var(--base_font_colour);

    font-size: min(30px, max(2.5vw, 18px));
}